# Disable everything networking
CONFIG_ESP_WIFI_ENABLED=n
CONFIG_ESP32_WIFI_ENABLED=n
CONFIG_OPENTHREAD_ENABLED=n
CONFIG_BT_ENABLED=n
CONFIG_BT_NIMBLE_ENABLED=n

# Disable Matter
CONFIG_ESP_MATTER_ENABLE=n
CONFIG_ESP_MATTER_ENABLE_WIFI=n
CONFIG_ESP_MATTER_ENABLE_OPENTHREAD=n
CONFIG_ESP_MATTER_ENABLE_DATA_MODEL=n

# Custom Partition Table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# Enable USB-Serial-JTAG for console and low-level communication
CONFIG_SOC_USB_SERIAL_JTAG_SUPPORTED=y
CONFIG_USJ_ENABLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=y
