CONFIG_ESP_MATTER_ENABLE_WIFI=y
CONFIG_ESP_MATTER_ENABLE_OPENTHREAD=n
CONFIG_OPENTHREAD_ENABLED=n
CONFIG_ESP_WIFI_ENABLED=y
CONFIG_ESP32_WIFI_ENABLED=y
CONFIG_SUPPORT_CLOSURE_CONTROL_CLUSTER=n
CONFIG_SUPPORT_CLOSURE_DIMENSION_CLUSTER=n

