# Partition Table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000

# Compiler Options
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_FREERTOS_HZ=1000

# Explicitly disable BT/HID/NimBLE
CONFIG_BT_ENABLED=n
CONFIG_BT_NIMBLE_ENABLED=n
CONFIG_ESP_HID_ENABLED=n

# LWIP (IPv6 Support)
CONFIG_LWIP_IPV6=y
CONFIG_LWIP_IPV6_AUTOCONFIG=y
CONFIG_LWIP_IPV6_DHCP6=y

# mDNS
CONFIG_LWIP_DNS_SUPPORT_MDNS_QUERIES=y

# Increase Stack Sizes slightly
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=4096
